@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

*{
	margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;	
	transition: all .5s;
}

body{	
	font-family: 'Alegreya', serif;
}

.title_header{
	position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
    background-color: #2F4F4F;
    color: #fff;
    font-size: 1.5em;	
}

.content{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#start{
	text-decoration: none;
    font-size: 2em;
    color: #2F4F4F;    
    padding: 20px;
	border: 0;
	border-radius: 5px;
	cursor: pointer;
}

#start:hover{
	border: 1px solid #2F4F4F;
	transform: scale(1.1);
}

#result{
	font-size: 3em;
	line-height: 2;
	font-weight: bold;
	text-align: center;
	color: #2F4F4F;
}

#question{
	font-size: 2.5em;
	text-align: center;
	color: #2F4F4F;
	margin-bottom: 20px;
}

.content_answer{
	display:none;
    font-size: 1.5em;
    color: #2F4F4F;
    background-color: #fff;
    padding:  8px;
	border: 1px solid #2F4F4F;
	border-radius: 5px;	
	margin: 10px auto;
	width: 400px;
}

.content_answer:hover{
	cursor: pointer;
	color: #fff;
    background-color: #2F4F4F;
}

.title_footer{
	display: none;
	text-decoration: none;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: #2F4F4F;
    color: #fff;
    font-size: 2em;
}

.title_footer:hover{
	cursor:pointer;
	transform: scale(1.1);
}

@media (max-width:1200px)
{    
	.title_header{
		padding: 10px;
		font-size: 1.5em;	
	}

	#start{
		font-size: 3em;
		padding: 30px 30px;
		border-radius: 5px;
	}

	#question{
		font-size: 2em;
	}
	
	.content_answer{
		padding:  15px;
		font-size: 1.5em;
		border-radius: 7px;	
		margin: 15px auto;
		width: 600px;
	}    

	#result{
		font-size: 2.7em;
	}

	.title_footer{
		padding: 20px;
		font-size: 1.7em;
	}
}

@media (max-width:768px)
{    
	.title_header{
		padding: 15px;
		font-size: 1.2em;	
	}

	#start{
		font-size: 3em;
		padding: 50px 20px;
		border-radius: 10px;
	}

	#question{
		font-size: 2em;
	}
	
	.content_answer{
		padding: 8px 12px;
		font-size: 2em;
		border-radius: 7px;	
		margin: 10px auto;
		width: 600px;
	}    

	#result{
		font-size: 2em;
	}

	.title_footer{
		padding: 10px;
		font-size: 2em;
	}    
}

@media (max-width:420px)
{    
	.title_header{
		padding: 30px;
		font-size: 1.2em;	
	}

    #start{
		font-size: 2em;
		padding: 50px 20px;
		border-radius: 10px;
	}

	#question{
		font-size: 1.5em;
	}
	
	.content_answer{
		padding: 15px;
		font-size: 1em;
		border-radius: 7px;	
		margin: 7px auto;
		width: 200px;
	}    

	#result{
		font-size: 1.7em;
	}

	.title_footer{
		padding: 20px;
		font-size: 1.5em;
	} 
}